/* Do not touch the below styling, these are required for the page template */

body {
    background-color:rgba(0, 0, 0, 0.25);
    font-family: Ubuntu, sans-serif;
}

.navigation {
    background-color: rgb(0, 0, 0);
    height: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    line-height: 35px;
    position: fixed;
    top: 0;
    right: 0;
}

.topHeader {
    font-size: 15px;
    justify-content: space-between;
}

.topHeader a {
    color: rgba(255, 255, 255, 0.527);
    font-size: 20px;
    text-decoration: none;
}

.topHeader a:hover {
    color:rgb(55, 76, 180)
}

.currentPage {
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 5%
}

ul {
    margin: 0;
    margin-top: 5px;
}

.documentList {
    text-decoration: none;
    font-size: 15px;
}

.documentList:visited {
    text-decoration: none;
    color:blue;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .content {
        margin-top: 50px;
    }
}

.footer {
    color: rgba(255, 255, 255, 0.527);
    text-align: center;
    margin-top: 5px;
}

.code {
    font-size: 16px;
}

/* Do not touch the above styling, these are required for the page template*/

.title {
    text-align: center;
    font-size: 30px;
    padding-top: 30px
}

.line {
    width: 78%;
    height: 4px;
    border-radius: 8px;
    background-color: black;
    border: none;
}

.documentSections {
    font-weight: 1px;
}

.downloadLink {
    padding-bottom: 5px;
    bottom: 10px
}

.downloadLink a {
    text-decoration: none;
    color: blue;
}

.referenceDoc a {
    text-decoration: none;
    color: blue;
}
